@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PrimeTechTest.Models.ColumnMetaData

<h1>Edit Column</h1>

@if (Model is null)
{

}
else
{
    <form method="post">
        <div class="mt-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" asp-for="Id" readonly />
        </div>

        <div class="mt-3">
            <label class="form-label">CompanyUniqueId</label>
            <input type="text" class="form-control" asp-for="CompanyUniqueId" />
        </div>

        <div class="mt-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="ColumnInfo" />
        </div>

        <div class="mt-3">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" asp-for="CompanyId" />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Save</button>

             @* <button type="submit" class="btn btn-danger ms-3"
                     asp-action="Delete" asp-controller="Company">
                 Delete
             </button> *@
        </div>

    </form>
}